body {
    font-family: Nunito, sans-serif;
    color:rgb(61, 43, 226);
}

h1, h2, h3 {
    font-family: Asap, sans-serif;
    color: black;
}

/* Navegação*/

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#8d8db1;
}

nav > a {
    text-decoration: none;
    color:#FFFFFF;
    font-weight: 800;
    font-size: 32px;
    font-family: Yellowtail, serif;
}

nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding:0;
    width: 100%;
}

nav ul li {
    text-align: center;
    width: 100%;
}

nav ul li a {
    display:inline-block;
    padding: 10px 0;
    text-decoration: none;
    width: 100%;
    color:rgb(23, 91, 208);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../img/constelacao.jpg");
    background-size: cover;
    background-repeat: none;
    background-position:center;
    color:azure;
    text-align: center;
    padding: 20px;
}

header h1 {
    color:azure;
}

header p {
    margin-bottom: 2em;
}

#sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px 10px 20px 20px;
    color:rgb(192, 87, 127);
    background-color: aqua;
}

#sobre h2 {
    color:azure;
}

#sobre p {
    margin-bottom: 2.5em;
    max-width: 1000px;
}